.DS_Store
node_modules
dist
yarn-error.log

dist.zip

# Local .terraform directories
**/.terraform

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# Sensitive variables
*.tfvars

# Environment variables
.env